@import '~@angular/material/theming';
@include mat-core();


.mw {
	@at-root mat-form-field#{&} {display:block;
		.mat-form-field-flex {border-radius:5px;border:1px solid #ddd;
			.mat-form-field-infix {padding:0;border:none;
				.mat-form-field-label-wrapper {top:0.2em;}
				.mat-input-element {
					width:100%;padding:20px 10px 5px 10px;
				}
			}

			//.mat-form-field-label {}
		}

		&.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
			transform: translateY(-0.68125em) scale(0.65) perspective(100px) translateZ(0.00101px) !important; left: 0.5em;
		}
		&.mat-form-field-appearance-legacy {
			.mat-form-field-label {
				//top: 1.88125em;
				top:0.63125em;
				left: 0.7em;
			}
		} 

		.mat-form-field-underline {display:none;}
		/* card */

	}
	@at-root mat-card#{&} {
		border-radius:5px;
	}

	@at-root .mat-dialog-container {border-radius:8px !important;
		h2 {margin:0 0 20px 0;}
	}

	/* mat button */
	@at-root &.mat-button {box-shadow: 0px 1px 0px rgba(255,255,255,0.15) inset, 0px 1px 2px rgba(0,0,0,0.15) !important;border-radius: 3px; background-color: #f7f8fa;border:1px solid rgba(185,193,199,0.5);color: #71767a;width:auto;
		.mat-button-ripple {border-radius: 3px;}
		&:hover {background-color:#eeeff2;}
		&:active {background-color:#f7f8fa;box-shadow:0px 1px 0px rgba(0,0,0,0.15) inset !important;}
		& .mat-button-focus-overlay {background-color:rgba(255,255,255,0.15)}
		& .mat-ripple-element {background-color:rgba(255,255,255,0.05);}
		&.mat-primary {background-color: #0099e5;border: 1px solid #0088cc;text-shadow: 0px 1px 0px #0088cc; color:white;
			&:hover {background-color: #00aaff;}
			&:active {background-color:#0099e5;}
		}
		&.mat-warn {background-color: #f34f50;border: 1px solid #cf3c41;text-shadow: 0 1px 0 rgba(0,0,0,0.25); color:white;
			&:hover {background-color:#ef3c41;}
			&:active {background-color: #cf3c41;}
		}
		&.mat-accent {background-color: #74c038;border: 1px solid #5a9f24;text-shadow: 0 1px 0 rgba(0,0,0,0.25);color:white;
			&:hover {background-color:#5a9f24;}
			&:active {background-color:#5a9f24;}
		}
		&:disabled {background-color: rgba(0,0,0,.12);box-shadow:0px 1px 0px rgba(0,0,0,0.15) inset !important;text-shadow: 0 1px 0 rgba(255,255,255,0.25);
			&:hover {background-color: rgba(0,0,0,.12);}
			&:active {background-color: rgba(0,0,0,.12);}
			& .mat-button-focus-overlay {display: none;}
		}
		a#{&} {color:#0099EF;text-decoration:underline;}
	}
}


// cunstom extent ng material
$red: #F44336;
$pink: #E91E63;
$purple: #9C27B0;
$deep-purple: #673AB7;
$indigo: #3F51B5;
$blue: #2196F3;
$light-blue: #03A9F4;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$light-green: #8BC34A;
$lime: #CDDC39;
$yellow: #FFEB3B;
$amber: #FFC107;
$orange: #FF9800;
$deep-orange: #FF5722;
$brown: #795548;
$grey: #9E9E9E;
$blue-grey: #607D8B;


button {
	&.btn-xs {line-height:20px;min-width:22px;height:22px;font-size:12px;}
	&.btn-sm {line-height:28px;min-width:34px;height:30px;font-size:14px;}
	&.btn-df {line-height:32px;min-width:34px;height:34px;font-size:1.2rem;}
	&.btn-lg {line-height:44px;min-width:56px;height:46px;font-size:1.3rem;}
	&.blue {background-color:$blue;color:white;}
	&.green {background-color:$green;color:white;}
	&.orange {background-color:$orange;color:white;}
	&.red {background-color:$red;color:white;}
	&.grey {background-color:$grey;color:white;}
	&.cyan {background-color:$cyan;color:white;}
	&.yellow {background-color:$yellow;color:black;}
	&.purple {background-color:$purple;color:white;}
	&.right {float:right;margin-left:10px;}
}