.lar {position:fixed;top:0;bottom:0;right:0;left:0;
	//background-color:#fafbfc;
	//background-color:#fbb24f;

	background: #B7F8DB; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #B7F8DB, #50A7C2); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #B7F8DB, #50A7C2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	display:flex;justify-content:center;align-items:center;
	.login-wrap {width:600px;height:520px;margin:0 auto;border-radius:15px;padding:10px;
		//border:1px solid #aaa;
		box-shadow:1px 1px 3px rgba(0, 0, 0, 0.35);
		background-color:white;
		.logo {margin-bottom:10px;

		}
		.switch {background-color:#eee;padding:5px;border-radius:5px;width:150px;margin:20px auto;text-align:center;
			span {padding:5px;
				&.register {cursor:pointer;
					&:hover {color:#0d47a1;}
				}
			}
		}

		.form-wrap {width:320px;min-height:200px;padding:20px 25px;border:1px solid #ccc;border-radius:10px;margin:0 auto;box-shadow:1px 1px 1px rgba(0, 0, 0, 0.15);

			background-color:#fafbfc;
		}
	}
}
button {outline: none; }
.banner-wrap {display:flex;justify-content: space-around;}
.banner {height:80px;display:flex;justify-content:center;align-items:center;position:relative;overflow:hidden;float:left;
	.logo {width:142px;}
}

.big-logo {position: fixed;top:10px;left:10px;display:flex;align-items: center;
	img {border-radius: 50%;margin-right:20px;
	}
	span {text-shadow:1px 1px 2px rgba(255,255,255,0.55)}
}

.trial {padding:10px 20px;border:none;background-color:#8BC34A;color:white;display:block;border-radius:20px;width:100%;font-size:14px;}


button.binding {padding:10px 20px;border:none;background-color:#3f51b5;color:white;display:block;border-radius:20px;width:100%;font-size:14px;}